{% extends 'includes/base.html' %}
{% load static %}

{% block headers %}
    <link rel="stylesheet" href="{% static 'css/metadata-stepper.css' %}" />
{% endblock headers %}

{% block content %}
  <h4>CREATE NEW METADATA</h4>
  <p>To create metadata (i.e., a space for your data), please go through the following steps</p>

  <!-- STEP 1 -->
  <div class="margin-bottom">
    <div>
      <div class="step-header {% if not request.GET.step or request.GET.step == '1' %}selected-step{% endif  %}">
        <div>1. Name and description</div>
        <i class="more">expand_more</i>
        <i class="less">expand_less</i>
      </div>
    </div>
    {% if not request.GET.step or request.GET.step == '1' %}
      {% include 'projects_id_metadata_id/step-name-and-description.html' %}
    {% endif %}

  </div>

  <!-- STEP 2 -->
  <div class="margin-bottom">
    <div >
      <div class="step-header {% if request.GET.step == '2' %}selected-step{% endif  %}">
        <div>2. File to base columns on</div>
        <i class="more">expand_more</i>
        <i class="less">expand_less</i>
      </div>
    </div>
    {% if request.GET.step == '2' %}
      {% include 'includes/file-drop-zone.html' %}
    {% endif %}
  </div>

  <!-- STEP 3 -->
  <div class="margin-bottom">
    <div>
      <div class="step-header {% if request.GET.step == '3' %}selected-step{% endif  %}">
        <div>3. Columns</div>
        <i class="more">expand_more</i>
        <i class="less">expand_less</i>
      </div>
    </div>
    {% if request.GET.step == '3' %}
      {% include 'projects_id_metadata_id/step-columns-update.html' %}
    {% endif %}
  </div>

  <div class="margin-bottom">
    <div >
      <div class="step-header {% if request.GET.step == '4' %}selected-step{% endif  %}">
        <div>4. Review and submit</div>
        <i class="more">expand_more</i>
        <i class="less">expand_less</i>
      </div>
    </div>
    {% if request.GET.step == '4' %}
      {% include 'projects_id_metadata_id/step-metadata-confirmation.html' %}
    {% endif %}
  </div>
  <!-- The file drop zone is included -->


  <!-- Dialog is only showing if upload_error is not empty -->
  {% if upload_error %}
    <div class="overlay blur active" data-ui="#dialog"></div>
    <dialog class="active" id="dialog">
      <div class="center-align">
        <i class="fill">error</i>
      </div>

      <h5 class="center-align">Woops!</h5>
      <div>
        Something went wrong: <br /><br /><b>{{ upload_error }}</b><br /><br /> Please add a csv file and try again
      </div>
      <nav class="right-align no-space">
        <button class="transparent link" data-ui="#dialog">OK</button>
      </nav>
    </dialog>
  {% endif %}

{% endblock %}

