<!-- Create metadata dialog -->
<dialog class="dialog {% if form.name.errors %}active{% endif %}" id="create-metadata-dialog">
  <h5 class="center-align">Create new metadata</h5>
  <form method="post">
    {% csrf_token %}
    <!-- name field -->
    <!-- if validation fails -->
    {% if form.name.errors %}
    <div style="margin-bottom:50px;" class="field label invalid border">
      {{form.name}}
      <label>Name</label>
      <span class="error"> {{form.name.errors|striptags}} </span>
    </div>
    <!-- else: validation is successful -->
    {% else %}
    <div class="field label border">
      {{form.name}}
      <label>Name</label>
      <span class="helper">Name of the metadata you want to create</span>
    </div>
    {% endif %}
    <!-- description field -->
    <div class="field textarea label border">
      {{form.description}}
      <label>Description</label>
      <span class="helper">Short description of the metadata's content</span>
    </div>
    <!-- buttons -->
    <nav class="right-align no-space">
      <a class="transparent link button" data-ui="#create-metadata-dialog">Cancel</a>
      <!-- making the Cancel button an 'a', avoids validation of form fields -->
      <button class="transparent link" type="submit">Create</button>
    </nav>
  </form>
</dialog>