.pointer {
  cursor: pointer;
}

.file-upload-box {
  height: 40vh;
  border-radius: 10px !important;
  border: 2px dashed darkgray;
  background-color: lightgray;
  width: 100%;
  cursor: pointer;
}

.file-upload-box-highlight {
  border-color: gray;
  background-color: darkgray;
}

.file-upload-info-box {
  background-color: white;
  width: 30%;
  cursor: default;
}
