.margin-bottom {
  margin-bottom: 10px;
}

.step-header {
  display: flex;
  color: black;
  font-weight: bold;
  background-color: var(--surface);
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
}

div.selected-step {
  background-color: var(--secondary);
  color: var(--on-secondary);
  border: 1px solid var(--outline-variant);
}

/* The expand icons is displayed or hidden based on selected-step class */
div i.more {
  display: none;
}

div.selected-step i.more {
  display: block;
}

div i.less {
  display: block;
}

div.selected-step i.less {
  display: none;
}

div.background-container {
  background-color: var(--surface-container-lowest);
  padding: 5px;

}
