@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');

:root {
  --font: "Rajdhani";
  /* brand colour #003224 - the one below is a slightly lighter version of the brand colour */
  --primary: #196440;
  /* brand colour */
  --on-primary: #48DC76;
  --secondary: #C6F0D3;
  --on-secondary: var(--primary);
  --surface: #F2F2F2;
  --on-surface: var(--primary);
  --on-surface-variant: var(--on-primary);
  --surface-bright: #F2FFF6;
  --surface-container-lowest: white;
  --on-surface-container-lowest: #6E6E6E;
  --surface-container-low: var(--surface-container-lowest);
  --surface-container-high: var(--primary-container);
  --outline-variant: #48DC76;
  --elevate1: 0 5px 10px rgba(0, 0, 0, 0.15);

  /* custom variables*/
  --outline-second-variant: #9BDEAF;
  --outline-third-variant: #C6F0D3;
}

.height-90-pct {
  min-block-size: 90vh !important;
}

.margin10 {
  margin: 20px !important;
}

.card-button-size {
  width: 400px;
  height: 400px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 85%;
}

button:not(.transparent),
.button:not(.transparent) {
  border: 1px solid var(--outline-variant);
  color: var(--on-secondary);
  background-color: var(--secondary);
}

.app-bar-image {
  background-repeat: auto;
  background-position-y: center;
  background-size: cover;
  background-image: url('/static/images/background_mirrored.png');
}

nav img {
  padding: 10px;
  max-height: 65px;
  width: auto;
}
