/* global css styles can be added here */
.height-90-pct {
  min-block-size: 90vh !important;
}

.margin10 {
  margin: 20px !important;
}

.card-button-size {
  width: 400px;
  height: 400px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 85%;
}

.selectable:hover {
  background-color: #ededed;
  cursor: pointer;
}
.selected,
.selected:hover {
  background-color: #DCDFFF;
}
.selectable {
  cursor: pointer
}

thead tr {
    background-color: #D9D9D9;
  }

thead tr th {
  border-bottom: none;
}