/* global css styles can be added here */
.height-90-pct {
  min-block-size: 90vh !important;
}

.margin10 {
  margin: 20px !important;
}

.card-button-size {
  width: 400px;
  height: 400px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}