@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');

:root {
  --font: "Rajdhani";
  --primary: #9BDEAF;
  --on-primary: #196440;
  --secondary: #C6F0D3;
  --secondary-container: var(--primary);
  --on-secondary: var(--on-primary);
  --tertiary: #9BDEAF;
  --surface: #F2F2F2;
  --surface-variant: white;
  --surface-container-low: var(--primary);
  --on-surface: var(--on-primary);
  --background-color: var(--on-primary);
  --element-color: var(--on-primary);
  --outline: var(--tertiary);
}

.height-90-pct {
  min-block-size: 90vh !important;
}

.margin10 {
  margin: 20px !important;
}

.card-button-size {
  width: 400px;
  height: 400px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 85%;
}