@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');

:root {
  --font: "Rajdhani";
  --primary: #C6F0D3;
  --on-primary: #196440;
  --primary-container: #F2FFF6;
  --secondary: #8b8b8b;
  --secondary-container: var(--primary);
  --tertiary: #9BDEAF;
  --surface: #F2F2F2;
  --surface-variant: white;
  --surface-container-low: var(--primary);
  --on-surface: var(--on-primary);
  --on-surface-variant: var(--outline);
  --background-color: var(--on-primary);
  --element-color: var(--on-primary);
  --outline: #48DC76;
  --outline-variant: #9BDEAF;
  --tertiary-outline: #C6F0D3;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.height-90-pct {
  min-block-size: 90vh !important;
}

.margin10 {
  margin: 20px !important;
}

.card-button-size {
  width: 400px;
  height: 400px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 85%;
}

button:not(.transparent),
.button:not(.transparent) {
  border: 1px solid var(--outline);
}

.app-bar-image {
  background-repeat: auto;
  background-position-y: center;
}

img {
  padding: 10px;
}