/* removing beercss' default borders for tables */
table.border>tbody>tr:not(:last-child)>td,
thead>tr>th {
  border: none;
}

.table-content {
  margin: 25px 0;
  padding: 10px;
  background-color: var(--surface-variant);
  box-shadow: var(--shadow);
  border-radius: 7px !important;
  border-spacing: 0 5px;
}

.table-content>thead {
  color: var(--secondary);
}

.table-content tbody {
  background-color: var(--surface);
  border-radius: 0px;
}

td:first-child:not(.metadata_columns_table) {
  border-radius: 7px 0 0 7px;
}

td:last-child:not(.metadata_columns_table) {
  border-radius: 0 7px 7px 0;
}

.selectable:hover {
  background-color: #ededed;
  cursor: pointer;
}

.selected,
.selected:hover,
.metadata_columns_table {
  background-color: var(--primary);
  border: 2px solid var(--outline);
}

.selectable {
  cursor: pointer;
}

.metadata_columns_table {
  padding: 10px;
}

.metadata_columns_table thead tr {
  background-color: var(--primary-container);
}

.metadata_columns_table table {
  border: 2px solid var(--outline-variant);
}

.metadata_columns_table tbody {
  background-color: var(--surface-variant);
}

.metadata_columns_table tbody tr td {
  border-top: 2px solid var(--tertiary-outline);
}