.table-content {
  margin: 25px 0;
  padding: 10px;
  background-color: var(--surface-variant);
  box-shadow: var(--shadow);
  border-radius: 10px !important;
  border-spacing: 0 5px;
}
.table-header {
  display: flex;
  flex-direction: row;
  color: var(--secondary);
  background-color: white;
}
.table-row {
  display: flex;
  flex-direction: row;
  background-color: rgb(242, 242, 242);
  border-radius: 7px;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}
.table-cell {
  width: 19%;
  padding: 10px;
}
.table-cell-icon {
  width: 5%;
  text-align: right;
  padding: 10px;
}
.expanded-content {
  width: 100%;
  padding: 0 7px 7px 7px;
}
.selected,
.selected:hover {
  background-color: var(--primary);
}

.expanded-table {
  background-color: white;
  border-radius: 5px;
}

.expanded-table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--tertiary-outline);
  border-radius: 0;
}

.expanded-table-cell {
  width: 25%;
  padding: 8px;
}

.expanded-table-head {
  background-color: var(--primary-container);
  border-bottom: 1px solid var(--primary);
  display: flex;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

.metadata_columns_table tbody tr td {
  background-color: white;
  border-bottom: 1px solid var(--tertiary-outline);
}
.more-button-container {
  display: flex;
  justify-content: end;
  padding: 5px;
  margin: 0;
}

div[hidden], button[hidden] {
  display: none;
}
