{% extends 'includes/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block headers %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock headers %}

{% block content %}

  <div class="row center-align height-90-pct" >

    <!-- CARD -->
    <article class="width-40-pct">
      <h5 class="content-center">Welcome to Seedcase</h5>
      <p class="content-center margin">Create account to continue</p>

      <!-- FORM -->
      <form method="post" >
        {% csrf_token %}

        <!-- USERNAME INPUT -->
        <div class="row content-center">
          <div class="field label small border">
            {{ form.username|attr:'tabindex:1'|attr:'class:active' }}
            <label class="active">Username</label>
          </div>
        </div>
        <div class="error-msg">
          {{ form.username.errors|striptags }}
        </div>

        <!-- EMAIL INPUT -->
        <div class="row content-center">
          <div class="field label small border">
            {{ form.email|attr:'tabindex:2'|attr:'class:active' }}
            <label class="active">Email</label>
          </div>

        </div>
        <div class="error-msg">
          {{ form.email.errors|striptags }}
        </div>

        <!-- PASSWORD INPUT -->
        <div class="row content-center">
          <div class="field label small border">
            {{ form.password1|attr:'tabindex:3'|attr:'class:active' }}
            <label class="active">Password</label>
          </div>
        </div>


        <!-- PASSWORD CONFIRM INPUT -->
        <div class="row content-center">
          <div class="field label small border">
            {{ form.password2|attr:'tabindex:3'|attr:'class:active' }}
            <label class="active">Confirm password</label>
          </div>

        </div>
        <div class="error-msg">
           {{ form.password2.errors|striptags }}
        </div>

        <div class="error-msg">
          {{ form.non_field_errors|striptags }}
        </div>

        <!-- CREATE ACCOUNT BUTTON -->
        <div class="content-center margin">
          <button>Create account</button>
        </div>
      </form>

    </article>
  </div>

{% endblock %}

