/* global css styles can be added here */
.height-90-pct {
  min-block-size: 90vh !important;
}


.margin10 {
  margin: 20px !important;
}

.card-button-size {
  width: 400px;
  height: 400px;
}

.file-upload-box {
  height: 40vh;
  border-radius: 10px !important;
  border: 2px dashed darkgray;
  background-color: lightgray;
  width: 100%;
  cursor: pointer;
}
