# {{ properties.title or "N/A" }}

{{ properties.description or "N/A" }}

| Field    | Value                                   |
|----------|-----------------------------------------|
| Name     | {{ properties.name | inline_code }}     |
| ID       | {{ properties.id | inline_code }}       |
| Version  | {{ properties.version | inline_code }}  |
| Homepage | {{ properties.homepage | format_link }} |
| Created  | {{ properties.created | format_date }}  |
| Licenses | {{ properties.licenses | join_names }}  |

{% if properties.resources -%}
## Data Resources
{% for resource in properties.resources %}
  {{ loop.index }}. **{{ resource.title }}**: {{ resource.description }}
{%- endfor %}
{% else -%}
No resources available.
{% endif %}
