.table-content {
  margin: 25px 0;
  padding: 10px;
  background-color: var(--surface-container-lowest);
  color: var(--on-surface-container-lowest);
  box-shadow: var(--elevate1);
  border-radius: 10px !important;
  border-spacing: 0 5px;
}
.table-header {
  display: flex;
  flex-direction: row;
}
.table-row {
  display: flex;
  flex-direction: row;
  background-color: var(--surface);
  color: var(--on-surface);
  border-radius: 7px;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}
.table-cell {
  width: 19%;
  padding: 10px;
}
.table-cell-icon {
  width: 5%;
  text-align: right;
  padding: 10px;
}
.expanded-content {
  width: 100%;
  padding: 0 7px 7px 7px;
}
.selected,
.selected:hover {
  background-color: var(--secondary);
}

.expanded-table {
  background-color: var(--surface-container-lowest);
  border-radius: 5px;
}

.expanded-table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--outline-third-variant);
  border-radius: 0;
}

.expanded-table-cell {
  width: 25%;
  padding: 8px;
}

.expanded-table-head {
  background-color: var(--surface-bright);
  border-bottom: 2px solid var(--outline-second-variant);
  display: flex;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

.more-button-container {
  display: flex;
  justify-content: end;
  padding: 5px;
  margin: 0;
}

div[hidden], button[hidden] {
  display: none;
}
