{% load static %}
{% load widget_tweaks %}
<h4>
  Columns of {{ tables.name }}
  <button class="circle small" data-ui="#help-ext_name">
    <i>question_mark</i>
  </button>
</h4>
<div class="row ">
  <div>
    <p>This is what we learnt about your data from your uploaded file.</p>
    <p>Please look through the extracted information about your data and fill out the missing fields.</p>
  </div>
  <div class="max"></div>
  <nav class="no-space">
    <button class="border left-round fill" onclick="toggle(this)">
      <span>Card view</span>
    </button>
    <button class="border right-round" onclick="toggle(this)">
      <span>Table view</span>
    </button>
  </nav>
</div>

<!-- TABLE VIEW -->
<form id="metadata_view_table" hidden method="post" action="">
  {% csrf_token %}
  <table class="primary-table">
    <thead>
      <tr>
        <th>Extracted Name</th>
        <th>Display Name</th>
        <th>Description</th>
        <th>Data Type</th>
        <th>Excluded</th>
      </tr>
    </thead>
    <tbody>
      {% for form in forms %}
        <tr>
          <td>{{ form.instance.extracted_name }}</td>
          <td>{{ form.display_name|attr:'tabindex:2' }}</td>
          <td style="overflow: hidden;">{{ form.description|attr:'tabindex:3' }}</td>
          <td style="overflow: hidden;">{{ form.data_type|attr:'tabindex:4' }}</td>
          <td style="overflow: hidden;">{{ form.excluded|attr:'tabindex:5'|attr:'onclick:toggleExcluded(event)' }}</td>
          <input type="hidden" name="{{ form.prefix }}-id" value="{{ form.instance.id }}" />
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="row right-align" >
    <button type="submit" tabindex="10">Continue</button>
  </div>
</form>

<!-- GRID VIEW -->
<form id="metadata_view_grid" method="post" action="">
  {% csrf_token %}
  <div class="row wrap">
    {% for column in columns %}
      <!-- CARD -->
      <article class="row card">
        <!-- OVERLAY (when marked as excluded) -->
        <div hidden id="overlay_{{ column.id }}" style="position: absolute; width: 100%; height: 100%">
          <div style="position: relative; width: 100%; height: 100%; left: -16px; z-index: 10; background: rgba(0, 0, 0, 0.75)">
            <div class="middle">
              <div style="text-align: center; color: antiquewhite; font-weight: bold; font-size: 1.5rem">Excluded!</div>
            </div>
          </div>
        </div>

        <!-- CARD CONTENT -->
        <div style="min-width: 0; flex: 1; padding-top: 20px">
          <div class="row" style="margin-bottom: 20px">
            <h3 class="max card-header">{{ column.extracted_name }}</h3>
            <label class="checkbox icon" style="z-index: 11">
              {{ column.form.excluded|attr:'tabindex:5'|attr:'onclick:toggleExcluded(event)' }}
              <span>
                <i>delete</i>
                <i style="color: antiquewhite">undo</i>
              </span>
              <div id="tooltip_{{ column.id }}" class="tooltip">Exclude</div>
            </label>
          </div>
          <div class="field label small border" style="margin-bottom: 20px">
            {{ column.form.display_name|attr:'tabindex:1' }}
            <label>Display name</label>
          </div>

          <div hidden>{{ column.form.machine_readable_name|attr:'tabindex:2' }}</div>

          <div class="field label suffix border" style="margin-bottom: 20px">
            {{ column.form.data_type|attr:'tabindex:3' }}
            <label>Type</label>
            <i>arrow_drop_down</i>
          </div>

          <div class="field label small border" style="margin-bottom: 20px">
            {{ column.form.description|attr:'tabindex:4'|attr:'class:active' }}
            <label class="active">Description</label>
          </div>

          <div style="min-width: 0">
            <p style="color: grey; font-size: 0.75rem; font-weight: bold; margin-bottom: 5px">Preview (showing up to 5 unique values):</p>
            {% for cell in column.data %}
              <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap">{{ cell }}</p>
            {% endfor %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>

  <div class="row right-align">
    <button type="submit" tabindex="10">Continue</button>
  </div>
</form>

<!-- Help dialog -->
<dialog class="dialog" id="help-ext_name">
  <h5 class="center-align">Fields</h5>
  <dl>
    <dt>Extracted name</dt>
    <dd>
      The column name extracted from the first file uploaded. This can't be changed.
    </dd>
    <dd>
      In cards view, the extracted name is shown as the header of each card.
    </dd>
    <dt>Display name</dt>
    <dd>
      The name that can be used when you want to show the data in a more 'human readable' way.
    </dd>
    <dd>
      An example could be the variable "b60", which you could give the more descriptive display name "Blood taken after 60 minutes".
    </dd>
    <dt>Description</dt>
    <dd>
      A short description of the column/variable, including things like when a sample is taken, the unit, etc.
    </dd>
    <dt>Data type</dt>
    <dd>
      The data type of the variable.
    </dd>
    <dd>
      The initial data type is the best guess from Seedcase Sprout based on the data you uploaded.
    </dd>
  </dl>
  <p>
    See our <a href="https://design.seedcase-project.org/"><span style="color:blue">documentation</span></a> for more information.
  </p>
  <nav class="right-align no-space">
    <a class="transparent link" data-ui="#help-ext_name">Close</a>
  </nav>
</dialog>

<script>
  let moveInputValues = (source, target) => {
    for (let sourceInput of source.querySelectorAll('input[id],select[id]')) {
      const targetInput = target.querySelector('#' + sourceInput.id)
      if (targetInput) {
        targetInput.value = sourceInput.value
        targetInput.checked = sourceInput.checked
      }
    }
  }

  let toggle = (button) => {
    let element_table = document.getElementById('metadata_view_table')
    let element_grid = document.getElementById('metadata_view_grid')

    document.querySelector("button.fill").classList.remove("fill")

    button.classList.add("fill")
    if (button.innerText.includes("Table")) {
      element_table.hidden = false
      element_grid.hidden = true

      moveInputValues(element_grid, element_table)
    } else {
      element_grid.hidden = false
      element_table.hidden = true

      moveInputValues(element_table, element_grid)
    }
  }

  let toggleExcluded = (event) => {
    const columnId = event.target.id.replace('id_', '').replace('-excluded', '')

    const overlay = document.getElementById('overlay_' + columnId)
    overlay.hidden = !overlay.hidden

    const tooltip = document.getElementById('tooltip_' + columnId)
    tooltip.innerText = overlay.hidden ? 'Exclude' : 'Undo exclude'

    // description is not required if column is excluded
    document.getElementsByName(columnId + '-description').forEach((d) => (d.required = overlay.hidden))
  }
</script>

