{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Headers and Definitions extracted for {{ table_metadata.name }}</h2>

<form method="post" action="">
  {% csrf_token %}
  {% for form in forms %}

  <h5>Extracted field name: {{ form.instance.original_name }}</h5>
  <article class="border">
    <p>Column name: {{ form.name }}</p>
    <p>Display name: {{ form.title }}</p>
    <p>Description: {{ form.description }}</p>
    <p>Data Type: {{ form.data_type }}</p>
    <input type="hidden" name="{{ form.prefix }}-id" value="{{ form.instance.id }}">
  </article>

  {% endfor %}
  <button type="submit">Update All</button>
  {% endblock content %}
