{% extends 'base.html' %}
{% load static %}

{% block content %}

<h4>Data Type fields</h4>
<p>Available data types and their description </p>

<form action="{% url 'columndata-review' %}" method="get">

  {{ formset.management_form }}
  <table>
    <thead>
      <tr>
        <th>Display Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for form in formset %}
      <tr>
        <td>{{ form.display_name }}</td>
        <td>{{ form.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</form>

{% endblock content %}
