{% extends 'base.html' %}

{% block content %}
<div class="padding absolute center middle">
  <div class="row center-align">
    <div>
      <article class="card-button-size" style="cursor:pointer" data-ui="#create-table-dialog">
        <!-- In beercss, a small material icon is added with <i class="large">add</i>,
            but to create a large icon, I grabbed the svg from https://fonts.google.com/icons-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
        </svg>
      </article>
      <h6 class="center-align margin10">CREATE NEW TABLE</h6>
    </div>
    <div style="width: 10%"></div>
    <div>
      <a href="view-existing-tables">
        <article class="card-button-size" style="cursor:pointer">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h360v80H200v560h560v-360h80v360q0 33-23.5 56.5T760-120H200Zm80-160h80v-280h-80v280Zm160 0h80v-400h-80v400Zm160 0h80v-160h-80v160Zm80-320v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80ZM480-480Z" />
          </svg>
        </article>
      </a>
      <h6 class="center-align margin10">ADD DATA TO EXISTING TABLE</h6>
    </div>
  </div>
  <div class="row center-align">
    <button class="circle medium fill" data-ui="#help-dialog"><i>question_mark</i></button>
  </div>
</div>

<!-- Create table dialog -->
<dialog class="dialog {% if form.name.errors %}active{% endif %}" id="create-table-dialog">
  <h5 class="center-align">Create new table</h5>
  <form method="post">
    {% csrf_token %}
    <!-- name field -->
    <!-- if validation fails -->
    {% if form.name.errors %}
    <div style="margin-bottom:50px;" class="field label invalid border">
      {{form.name}}
      <label>Name</label>
      <span class="error"> {{form.name.errors|striptags}} </span>
    </div>
    <!-- else: validation is successful -->
    {% else %}
    <div class="field label border">
      {{form.name}}
      <label>Name</label>
      <span class="helper">Name of the table you want to create</span>
    </div>
    {% endif %}
    <!-- description field -->
    <div class="field textarea label border">
      {{form.description}}
      <label>Description</label>
      <span class="helper">Short description of the table's content</span>
    </div>
    <!-- buttons -->
    <nav class="right-align no-space">
      <a class="transparent link button" data-ui="#create-table-dialog">Cancel</a>
      <!-- making the Cancel button an 'a', avoids validation of form fields -->
      <button class="transparent link" type="submit">Create</button>
    </nav>
  </form>
</dialog>

<!-- Help dialog -->
<dialog class="dialog" id="help-dialog">
  <div>
    <h5 class="center-align">What is a table?</h5>
    A table is ... <br> See our <a href="https://design.seedcase-project.org/"><span
        style="color:blue">documentation</span></a> for more information.
  </div>
  <nav class="right-align no-space">
    <a class="transparent link" data-ui="#help-dialog">Cancel</a>
  </nav>
</dialog>

{% endblock content %}
