{% extends 'base.html' %}
{% load static %}
{% load tabindex %}

{% block content %}
  <h2 style="margin-bottom: 20px">Headers for {{ table_metadata.name }}</h2>
  <form method="post" action="">
    {% csrf_token %}

    <!-- The cards in a row and wrapped to next line -->
    <div class="row wrap">
      {% for column in columns %}
        <!-- -->
        <article class="row"
                 style="border: 1px solid gray; padding: 5px; border-radius: 12px; width: 23%; ">
          <div style="padding: 5px; min-width: 0; flex: 1;">
            <p
              style="text-align: center; font-size: 1.25rem; font-weight: bold; margin-bottom: 20px">{{ column.title }}</p>
            <div class="field label small border" style="margin-bottom: 40px">
              {{ column.form.title }}
              <label>Title</label>
              <span class="helper">From: '{{ column.original_name }}'</span>
            </div>

            <div hidden>
              {{ column.form.name }}
            </div>


            <div class="field label suffix border" style="margin-bottom: 20px">
              {{ column.form.data_type }}
              <label>Type</label>
              <i>arrow_drop_down</i>
            </div>

            <div class="field label small border" style="margin-bottom: 20px">
              {{ column.form.description|tabindex:forloop.counter }}
              <label>Description</label>
            </div>

            <div style="min-width: 0">
              <p
                style="color: grey; font-size: 0.75rem; font-weight: bold; margin-bottom: 5px">
                Data preview:</p>
              {% for cell in column.data %}
                <p
                  style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap">{{ cell }}</p>
              {% endfor %}
            </div>

          </div>

        </article>
      {% endfor %}
    </div>
    <div class="row" style="justify-content: center">
      <button type="submit">Update All</button>
    </div>
  </form>
{% endblock content %}

