{% extends 'base.html' %}



{% block content %}

{% load dict_tags %}

<!-- View all metadata -->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Data Rows</th>
      <th>Date Created</th>
      <th>Last Upload</th>
    </tr>
  </thead>
  {% for metadata in existing_metadata %}
  <tbody>
    <tr class="selectable" id="{{ metadata.id }}" onclick="rowSelected(event.target.parentElement)">
      <td>{{ metadata.name }}</td>
      <td>{{ metadata.description }}</td>
      <td>Cell</td>
      <td>{{ metadata.created_at }}</td>
      <td>Cell</td>
    </tr>
    <!-- View metadata of all columns in the selected metadata -->
    <td colspan="6" class="metadata_columns_table" hidden id="{{ metadata.id }}">
      <table>
        <thead>
          <tr>
            <th>Extracted column name</th>
            <th>Machine-readable name</th>
            <th>Display name</th>
            <th>Data type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for column in existing_metadata_columns|get_dict_item:metadata.id %}
            <tr {% if forloop.counter > 5 %}hidden{% endif %}>
            <td>{{ column.extracted_name }}</td>
            <td>{{ column.machine_readable_name }}</td>
            <td>{{ column.display_name }}</td>
            <td>{{ column.data_type }}</td>
            <td>{{ column.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if existing_metadata_columns|get_dict_item:metadata.id|length > 5 %}
        <button style="text-align:right" onclick="showMore(event.target)">Show more columns</button>
      {% endif %}
    </td>
  </tbody>
  {% empty %}
  <p>No existing data to show.</p>
  {% endfor %}
</table>

<!-- Create metadata dialog -->
{% include 'includes/metadata-create-dialog.html' %}

<!-- Three buttons create new metadata, edit existing metadata, or upload data to metadata-->
<nav class="right-align">
  <a class="button" data-ui="#create-metadata-dialog"><i>add</i>Create new metadata</a>
  <a href="#" class="button" id="edit-link" disabled><i>edit</i>Edit metadata</a>
  <a href="#" class="button" id="upload-link" disabled><i>upload</i>Upload data</a>
</nav>

<script>
  let edit_url = "{% url 'column-review' table_id=0 %}";
  let upload_url = "{% url 'column-review' table_id=0 %}";

  function rowSelected(row) {
    // Deselect all other rows
    document.querySelectorAll(".selectable").forEach(function (otherRow) {
      otherRow.classList.remove("selected");
    });

    // Add selected class
    row.classList.add("selected");

    // Update the href and disabled state of the edit and upload buttons based on row selection
    document.querySelector("#edit-link").href = edit_url.replace("0", row.id);
    document.querySelector("#edit-link").removeAttribute("disabled");
    document.querySelector("#upload-link").href = upload_url.replace("0", row.id);
    document.querySelector("#upload-link").removeAttribute("disabled");

    // Get all metadata columns
    let metadata_columns = document.getElementsByClassName("metadata_columns_table");

    // Loop through all the metadata columns and show the ones that matches the selected row
    for (const metadata_column of metadata_columns){
      // If the metadata column's id matches the selected row's id, then show element
      if(metadata_column.id === row.id) {
        metadata_column.hidden = false
      } else {
        // Otherwise, hide alle other elements
        metadata_column.hidden = true;
      }
    }
  }

  function showMore(button) {
    // Get the parent element of the button
    let parent = button.parentElement;

    // Get all the rows in the parent element
    let rows = parent.querySelectorAll("tr[hidden]");

    // Loop through all the rows and show the ones that are hidden
    for (let i = 0; i < rows.length; i++) {
      if(i < 5) {
        rows[i].hidden = false;
      }
    }

    // If all rows are shown, hide the button
    if(rows.length < 6) {
      button.style.display = "none";
    }
  }

</script>

{% endblock content %}
