{% extends 'base.html' %}

{% block content %}

<style>
  .table {
    display: flex;
    flex-direction: column;
  }

  .table-header,
  .table-row {
    display: flex;
    padding: 5px;
  }

  .table-header {
    background-color: #D9D9D9;
    margin-bottom: 10px;
  }

  .table-cell {
    flex: 1;
    padding: 8px;
  }

  .selectable:hover {
    background-color: #ededed;
    cursor: pointer;
  }

  .selected,
  .selected:hover {
    background-color: #DCDFFF;
  }
</style>

<form id="selectedElementsForm" method="post">
  {% csrf_token %}
  <div class="table">
    <div class="table-header">
      <div class="table-cell">Name</div>
      <div class="table-cell">Description</div>
      <div class="table-cell">Data Rows</div>
      <div class="table-cell">Date Created</div>
      <div class="table-cell">Last Upload</div>
    </div>
    <div class="table-body">
      {% for metadata in existing_metadata %}
      {% if request.GET.selected_metadata_id|add:'0' == metadata.id %}
      <a style="display:block" href="{% url 'project_id_data' %}">
        {% else %}
        <a style="display:block" href="{% url 'project_id_data' %}?selected_metadata_id={{metadata.id}}">
          {% endif %}
          <div>
            <div
              class="table-row selectable{% if request.GET.selected_metadata_id|add:'0' == metadata.id %} selected{% endif %}"
              id="{{metadata.id}}">
              <div class="table-cell">{{metadata.name}}</div>
              <div class="table-cell">{{ metadata.description }}</div>
              <div class="table-cell">Cell</div>
              <div class="table-cell">{{ metadata.created_at }}</div>
              <div class="table-cell">Cell</div>
            </div>
          </div>
        </a>
        {% empty %}
        <p>No existing data to show.</p>
        {% endfor %}
    </div>
  </div>

  <nav class="right-align">
    <button type="submit" name="button_create"><i>add</i>Create Metadata</button>
    <button type="submit" name="button_edit"><i>edit</i>Edit Metadata</button>
    <button type="submit" name="button_upload"><i>upload</i>Upload Data</button>
  </nav>
</form>

{% endblock content %}