{% extends 'base.html' %}

{% block content %}

<form method="post">
  {% csrf_token %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Data Rows</th>
        <th>Date Created</th>
        <th>Last Upload</th>
      </tr>
    </thead>
    {% for metadata in existing_metadata %}
    <tbody>
      <tr class="selectable" id="{{metadata.id}}">
        <td>{{metadata.name}}</td>
        <td>{{metadata.description}}</td>
        <td>Cell</td>
        <td>{{metadata.created_at}}</td>
        <td>Cell</td>
      </tr>
    </tbody>
    {% empty %}
    <p>No existing data to show.</p>
    {% endfor %}
  </table>

  <!-- three buttons will submit this form: create, edit, or upload -->
  <nav class="right-align">
    <button type="submit" name="button_create"><i>add</i>Create Metadata</button>
    <button {% if not request.GET.selected_metadata_id %}disabled{% endif %} type="submit"
      name="button_edit"><i>edit</i>Edit Metadata</button>
    <button {% if not request.GET.selected_metadata_id %}disabled{% endif %} type="submit"
      name="button_upload"><i>upload</i>Upload Data</button>
  </nav>
</form>

<script>
  var selectable_rows = document.querySelectorAll('.selectable');
  selectable_rows.forEach(function (row) {
    row.addEventListener('click', function () {
      // Deselect all other rows
      selectable_rows.forEach(function (otherRow) {
        if (otherRow !== row) {
          otherRow.classList.remove('selected');
        }
      });

      // Toggle the selected class for the clicked row
      row.classList.toggle('selected');

      // Save the ID of the selected row
      const selected_row_id = row.getAttribute("id");

</script>

{% endblock content %}