{% extends 'includes/base.html' %}

{% block content %}

  <!-- View all metadata -->
  <table class="primary-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date Created</th>
        <th>Data Rows</th>
        <th>Last Upload</th>
        <th style="width: 5%"></th>
      </tr>
    </thead>
    <tbody>
    {% for metadata in existing_metadata %}
        <tr class="selectable" id="{{ metadata.id }}" onclick="rowSelected(event.target.parentElement)">
          <td>{{ metadata.name }}</td>
          <td>{{ metadata.description }}</td>
          <td>{{ metadata.created_at }}</td>
          <td>{{ metadata.data_rows }}</td>
          <td>{{ metadata.last_data_upload }}</td>
          <td style="text-align: right">
            <i id="expand_icon" onclick="iconSelected(event)">expand_less</i>
          </td>

        </tr>
        <tr>
        <!-- View metadata of all columns in the selected metadata -->
          <td colspan="6"
              class="metadata_columns_table"
              hidden
              id="{{ metadata.id }}">
            <table class="secondary-table">
            <thead>
              <tr>
                <th>Extracted column name</th>
                <th>Machine-readable name</th>
                <th>Display name</th>
                <th>Data type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {% for column in metadata.columns_set.all %}
                <tr {% if forloop.counter > 5 %}hidden{% endif %}>
                    <td>{{ column.extracted_name }}</td>
                    <td>{{ column.machine_readable_name }}</td>
                    <td>{{ column.display_name }}</td>
                    <td>{{ column.data_type }}</td>
                    <td>{{ column.description }}</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if metadata.columns_set.all|length > 5 %}
            <button style="text-align:right" onclick="showMore(event.target)">Show more columns</button>
          {% endif %}
        </td>
        </tr>
      {% empty %}
      <p>No existing metadata to show.</p>
    {% endfor %}
    </tbody>
  </table>

  <!-- Three buttons create new metadata, edit existing metadata, or upload data to metadata -->
  <nav class="right-align">
    <a class="button" href="{% url 'projects-id-metadata-create' %}"><i>add</i>Create new metadata</a>
    <a href="#" class="button" id="edit-link" disabled><i>edit</i>Edit metadata</a>
    <a href="#" class="button" id="upload-link" disabled><i>upload</i>Upload data</a>
  </nav>

  <script>
    let edit_url = "{% url 'projects-id-metadata-id-update' table_id=0 %}"
    let upload_url = "{% url 'projects-id-metadata-id-data-update' table_id=0 %}"

    function rowSelected(row) {
      // Deselect all other rows
      document.querySelectorAll('.selectable').forEach(function (otherRow) {
        otherRow.classList.remove('selected')
        otherRow.querySelector('#expand_icon').textContent = 'expand_less';
      })

      // Add selected class
      row.classList.add('selected')

      // Update the href and disabled state of the edit and upload buttons based on row selection
      document.querySelector('#edit-link').href = edit_url.replace('0', row.id)
      document.querySelector('#edit-link').removeAttribute('disabled')
      document.querySelector('#upload-link').href = upload_url.replace('0', row.id)
      document.querySelector('#upload-link').removeAttribute('disabled')

      // Get all metadata columns
      let metadata_columns = document.querySelectorAll('.metadata_columns_table')

      // Loop through all the metadata columns and show the ones that matches the selected row
      for (const metadata_column of metadata_columns) {
        // If the metadata column's id matches the selected row's id, then show element
        if (metadata_column.id === row.id) {
          metadata_column.hidden = false
        } else {
          // Otherwise, hide alle other elements
          metadata_column.hidden = true
        }
      }
      // for tags with "shown" class, remove the class and add hidden attribute
      let shown = document.querySelectorAll('.shown');
      for (let i = 0; i < shown.length; i++) {
        shown[i].classList.remove("shown");
        shown[i].hidden = true;
      }

      // show hidden buttons
      let buttons = document.querySelectorAll('button');
      for (let i = 0; i < buttons.length; i++) {
        buttons[i].style.display = "block";
      }

      // change icon to expand more
      let expand_icon = row.querySelector('#expand_icon');
      expand_icon.textContent = "expand_more";
    }

  function iconSelected(event) {
    event.stopPropagation();
    rowSelected(event.target.parentElement.parentElement)

  }

  function showMore(button) {
    // Get the parent element of the button
    let parent = button.parentElement;

    // Get all the rows in the parent element
    let rows = parent.querySelectorAll("tr[hidden]");

    // Loop through all the rows and show the ones that are hidden
    for (let i = 0; i < rows.length; i++) {
      if(i < 5) {
        rows[i].hidden = false;
        // add class "shown" to the row
        rows[i].classList.add("shown");
      }
    }

    // If all rows are shown, hide the button
    if(rows.length < 6) {
      button.style.display = "none";
    }
  }
  </script>
{% endblock %}
