{% extends 'includes/base.html' %}

{% block content %}
  <!-- View all metadata -->
  <div class="table-content">
    <!-- TABLE HEADER -->
    <div class="table-header">
      <div class="table-cell">Name</div>
      <div class="table-cell">Description</div>
      <div class="table-cell">Date Created</div>
      <div class="table-cell">Data Rows</div>
      <div class="table-cell">Last Upload</div>
    </div>

    <!-- TABLE ROWS -->
    {% for metadata in existing_metadata %}

      <!-- TABLE ROW -->
      <div id="{{ metadata.id }}" class="table-row" onclick="selectRow('{{ metadata.id }}')">
        <div class="table-cell">{{ metadata.name }}</div>
        <div class="table-cell">{{ metadata.description }}</div>
        <div class="table-cell">{{ metadata.created_at }}</div>
        <div class="table-cell">{{ metadata.data_rows }}</div>
        <div class="table-cell">{{ metadata.last_data_upload }}</div>

        <!-- EXPANDED CONTENT -->
        <div hidden class="expanded-content" id="{{ metadata.id }}">
          <div class="expanded-table">
            <div class="expanded-table-head">
              <div class="expanded-table-cell">Original Column Name</div>
              <div class="expanded-table-cell">Display Name</div>
              <div class="expanded-table-cell">Data Type</div>
              <div class="expanded-table-cell">Description</div>
            </div>
            <div class="expanded-table-body">
              {% for column in existing_metadata_columns %}
                  {% if column.tables.id == metadata.id %}
                    <div class="expanded-table-row">
                      <div class="expanded-table-cell">{{ column.extracted_name }}</div>
                      <div class="expanded-table-cell">{{ column.display_name }}</div>
                      <div class="expanded-table-cell">{{ column.data_type }}</div>
                      <div class="expanded-table-cell">{{ column.description }}</div>
                    </div>
                  {% endif %}
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- Create metadata dialog -->
  {% include 'includes/metadata-create-dialog.html' %}

  <!-- Three buttons create new metadata, edit existing metadata, or upload data to metadata -->
  <nav class="right-align">
    <a class="button" data-ui="#create-metadata-dialog"><i>add</i>Create new metadata</a>
    <a href="#" class="button" id="edit-link" disabled><i>edit</i>Edit metadata</a>
    <a href="#" class="button" id="upload-link" disabled><i>upload</i>Upload data</a>
  </nav>

  <!-- Create metadata dialog -->
  {% include 'includes/metadata-create-dialog.html' %}

  <script>
    let edit_url = "{% url 'projects-id-metadata-id-update' table_id=0 %}"
    let upload_url = "{% url 'projects-id-metadata-id-data-update' table_id=0 %}"
    function selectRow(selectedRowId) {
      const selectedRow = document.getElementById(selectedRowId);
      // Remove 'selected' class from all rows
      document.querySelectorAll('.table-row').forEach(function (otherRow) {
        otherRow.classList.remove('selected')
      })
      // Add 'selected' class to clicked row
      selectedRow.classList.add('selected')

      // Hide expanded content for all rows
      document.querySelectorAll('.expanded-content').forEach( function(e) {
        e.hidden = true;
      })

      // Show expanded content for clicked row
      selectedRow.lastElementChild.hidden = false;

      // Update the href and disabled state of the edit and upload buttons based on row selection
      document.querySelector('#edit-link').href = edit_url.replace('0', selectedRow.id)
      document.querySelector('#edit-link').removeAttribute('disabled')
      document.querySelector('#upload-link').href = upload_url.replace('0', selectedRow.id)
      document.querySelector('#upload-link').removeAttribute('disabled')
    }
  </script>
{% endblock %}
