<h1>Hello World</h1>
{% extends 'base.html' %}
{% load static %}

{% block header_tags %}
  <link rel="stylesheet" href="{% static 'css/file-drop-zone.css' %}">
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock header_tags %}

{% block content %}

{% for column in cols.all %}

{{ column.description }} 
{{ column.title }}

{% endfor %}

  <h4>{{ table_name }}</h4>
  <p>Please review the information extracted from your file.</p>

  <div class="small-height scroll">
    <table class="border">
      <thead class="fixed">
        <tr>
          <th>id</th>
          <th>display_name</th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>
        {% for column in colsdata.all %}
        <tr>
          <td>{{ column.id }}</td>
          <td>{{ column.display_name }}</td>
          <td>{{ column.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot class="fixed">
        <tr>
          <th>Footer</th>
          <th>Footer</th>
          <th>Footer</th>
        </tr>
      </tfoot>
    </table>
  </div>

{% endblock content %}
