{% extends 'base.html' %}

{% block content %}
  <h4>{{ table_name }}</h4>
  <p>To create the structure for your new table, please upload a CSV data file to be
    used as a template</p>

  <!-- The file upload box is created and the content should also be centered -->
    <div class="file-upload-box row center-align" onclick="document.getElementById('uploaded_file').click()">
      <div class="center-align">
        <h5 class="center-align">DRAG YOUR CSV HERE</h5>
        <i class="large-space extra">attach_file</i>
        <h5 class="center-align">OR CLICK TO OPEN YOUR FILE</h5>
      </div>
    </div>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input hidden type="file"
           id="uploaded_file"
           name="uploaded_file"
           accept="text/csv" class="file-upload"/>
    <br/>
    <div class="row center-align">
      <button type="submit" value="OK">EXTRACT DATA STRUCTURE</button>
    </div>
  </form>

  {% if upload_error %}
  <dialog class="modal active" id="dialog">
    <div class="center-align">
      <i class="fill">error</i>
    </div>

    <h5 class="center-align">Woops!</h5>
    <div>Seems like you are missing a file or the file <br/>format is unsupported. <br/><br/> Please add a .csv file and try again</div>
    <nav class="right-align no-space">
      <button class="transparent link" data-ui="#dialog">OK</button>
    </nav>
  </dialog>
  {% endif %}
{% endblock content %}
