{% extends 'base.html' %}
{% load static %}

{% block header_tags %}
<link rel="stylesheet" href="{% static 'css/file-drop-zone.css' %}">
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock header_tags %}

{% block content %}

<form method="post" action="">
  {% csrf_token %}
  {% for form in forms %}
  {{ form.as_p }}
  {% endfor %}
  <button type="submit">Update All</button>
</form>

<h2>Existing Data for {{ table_metadata.name }}</h2>
{% for column_metadata in columns_metadata %}
<p>Name: {{ column_metadata.name }}</p>
<p>Title: {{ column_metadata.title }}</p>
<p>Description: {{ column_metadata.description }}</p>
<!-- Add other fields as needed -->
<hr>
{% endfor %}

{% endblock content %}