name: Run tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry

      - name: Install python 3.11 with cache
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'poetry'

      - name: Install dependencies with poetry
        run: poetry install

      - name: Add migrations to test database
        run: poetry run python manage.py migrate

      - name: Run unit tests
        run: poetry run python manage.py test
